
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h2>STATE MANAGEMENT IN MVC</h2>

<p>
    HTTP is a stateless protocol. So HTTP requests are independent messages that don’t retain user values or app states, i.e., each HTTP request does not know about the previous request. If you are redirecting from one page to another page, then you have to maintain or persist your data so that you can access it further.
</p>

<p>
    State Management is the process where developers can maintain status and page information on multiple requests for the same or different pages within the web application.
</p>

<p>
    ASP.NET MVC also provides state management techniques that can help us to maintain the data when redirecting from one page to other page or in the same page after reloading.
</p>